<%= render "partials/nav-guardian"%><br>
<div class="container">
	<div class="container">
		<div class="row">
			<div class="col s6">
				<div class="card">
		            <div class="card-content">
		              <span class="card-title">Card Title</span>
		              <p>I am a very simple card. I am good at containing small bits of information.
		              I am convenient because I require little markup to use effectively.</p>
		            </div>
          		</div>
			</div>
			<div class="col s6">
				<div class="card">
		            <div class="card-content">
		              <span class="card-title">Card Title</span>
		              <p>I am a very simple card. I am good at containing small bits of information.
		              I am convenient because I require little markup to use effectively.</p>
		            </div>
          		</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col s6">
				<div class="card">
		            <div class="card-content">
		              <span class="card-title">Card Title</span>
		              <p>I am a very simple card. I am good at containing small bits of information.
		              I am convenient because I require little markup to use effectively.</p>
		            </div>
          		</div>

			</div>
			<div class="col s6">
				<div class="card">
		            <div class="card-content">
		              <span class="card-title">Card Title</span>
		              <p>I am a very simple card. I am good at containing small bits of information.
		              I am convenient because I require little markup to use effectively.</p>
		            </div>
          		</div>

			</div>
		</div>
	</div>
</div>