 <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">PreUni</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#"></a></li>
        <li><%= link_to "Provider Sign Up", new_provider_registration_path%></li>
<!--         <li><%#= link_to "Github SignIn", https://github.com/login/oauth/authorize? %></li>
 -->      </ul>
    </div>
  </nav>
        