<h1>Editing Child Family Guardian Provider</h1>

<%= render 'form', child_family_guardian_provider: @child_family_guardian_provider %>

<%= link_to 'Show', @child_family_guardian_provider %> |
<%= link_to 'Back', child_family_guardian_providers_path %>
